<h1>New business</h1>

<%= error_messages_for :business %>

<% form_for(@business, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Back', businesses_path %>
