					 <div id="areaDetailsLeft">
						<div class="chooseYourView">
							<ul>
								<li class="menuTitle">CATEGORIES</li>
								<% for category in @categories %>
								<li><%= link_to_remote category.name, :url => businesses_path(:category_id => category), :method => :get %></li>
									<% unless category.children.empty? %>
									<li id="<%= dom_id(category) %>" style="<%= "display:none" unless  category.children.include?(@category) %>">	
										<ul>
											<% for subcategory in category.children %>
												<li><%= link_to_remote subcategory.name, :url => show_category_path(:category_id => subcategory), :method => :get %></li>
											<% end %>
										</ul>
									</li>	
									<% end %>
								
								<% end %>
							</ul>
						</div>
					</div>
					<!-- end of left column -->